<h2>New thing</h2>
<div class="required">
  <label>
    Title
    {{view Ember.TextField valueBinding="title"}}
  </label>
</div>
<div class="required">
  <label>
    Image URL
    {{view Ember.TextField valueBinding="imageUrl"}}
  </label>
</div>
<div>
  <label>
    Description
    {{view Ember.TextArea valueBinding="description"}}
  </label>
</div>

<button {{action save}}>Add {{title}}</button>
